
<!-- ============================================================================================================= -->
<!-- |||||||||||||||||||||||||||| This is what shows up when you click a folder |||||||||||||||||||||||||||||||||| -->
<!-- ============================================================================================================= -->

<app-search></app-search>

<mat-card>
  <mat-card-content>
    <div *ngIf="folder">
      <div class="title">{{ folder.name }}</div>

      
    </div>
  </mat-card-content>
</mat-card>