USE [master]
GO
/****** Object:  Database [HPEPWA]    Script Date: 6/17/2020 6:37:28 PM ******/
CREATE DATABASE [HPEPWA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HPEPWA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HPEPWA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HPEPWA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HPEPWA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HPEPWA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HPEPWA]
GO
/****** Object:  User [RestAPI]    Script Date: 6/17/2020 6:37:30 PM ******/
CREATE USER [RestAPI] FOR LOGIN [RestAPI] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [APP]    Script Date: 6/17/2020 6:37:30 PM ******/
CREATE SCHEMA [APP]
GO
/****** Object:  Table [APP].[APPUSER]    Script Date: 6/17/2020 6:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [APP].[APPUSER](
	[USERID] [varchar](8) NOT NULL,
	[FIRSTNAME] [varchar](200) NULL,
	[LASTNAME] [varchar](200) NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[PASSWORD] [varchar](200) NOT NULL,
	[DATEJOINED] [date] NOT NULL,
 CONSTRAINT [APPUSER_PK] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [APP].[BOOKMARK]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [APP].[BOOKMARK](
	[USERID] [varchar](8) NULL,
	[FOLDERID] [varchar](50) NULL,
	[DOCUMENTID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [APP].[CATEGORY]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [APP].[CATEGORY](
	[CATEGORYID] [varchar](5) NOT NULL,
	[CATEGORYNAME] [varchar](30) NOT NULL,
 CONSTRAINT [CATEGORY_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [APP].[DOCUMENT]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [APP].[DOCUMENT](
	[DOCUMENTID] [varchar](50) NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[SUMMARY] [varchar](300) NOT NULL,
	[FULLDOC] [varchar](max) NOT NULL,
	[CATEGORYID] [varchar](5) NULL,
 CONSTRAINT [DOCUMENT_PK] PRIMARY KEY CLUSTERED 
(
	[DOCUMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [APP].[FOLDER]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [APP].[FOLDER](
	[FOLDERID] [varchar](50) NOT NULL,
	[FOLDERNAME] [varchar](30) NOT NULL,
	[USERID] [varchar](8) NULL,
 CONSTRAINT [FOLDER_PK] PRIMARY KEY CLUSTERED 
(
	[FOLDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [APP].[BOOKMARK]  WITH CHECK ADD  CONSTRAINT [BOOKMARK_DOCUMENTID_FK] FOREIGN KEY([DOCUMENTID])
REFERENCES [APP].[DOCUMENT] ([DOCUMENTID])
GO
ALTER TABLE [APP].[BOOKMARK] CHECK CONSTRAINT [BOOKMARK_DOCUMENTID_FK]
GO
ALTER TABLE [APP].[BOOKMARK]  WITH CHECK ADD  CONSTRAINT [BOOKMARK_FOLDERID_FK] FOREIGN KEY([FOLDERID])
REFERENCES [APP].[FOLDER] ([FOLDERID])
GO
ALTER TABLE [APP].[BOOKMARK] CHECK CONSTRAINT [BOOKMARK_FOLDERID_FK]
GO
ALTER TABLE [APP].[BOOKMARK]  WITH CHECK ADD  CONSTRAINT [BOOKMARK_USERID_FK] FOREIGN KEY([USERID])
REFERENCES [APP].[APPUSER] ([USERID])
GO
ALTER TABLE [APP].[BOOKMARK] CHECK CONSTRAINT [BOOKMARK_USERID_FK]
GO
ALTER TABLE [APP].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [DOCUMENT_CATEGORY_FK] FOREIGN KEY([CATEGORYID])
REFERENCES [APP].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [APP].[DOCUMENT] CHECK CONSTRAINT [DOCUMENT_CATEGORY_FK]
GO
ALTER TABLE [APP].[FOLDER]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [APP].[APPUSER] ([USERID])
GO
/****** Object:  StoredProcedure [APP].[GetClaireBookmarks]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [APP].[GetClaireBookmarks] AS SELECT  U.FIRSTNAME,U.LASTNAME, D.TITLE FROM APP.APPUSER U INNER JOIN APP.BOOKMARK B ON U.USERID = B.USERID INNER JOIN APP.DOCUMENT D ON D.DOCUMENTID = B.DOCUMENTID WHERE B.USERID = '12345678'
GO
/****** Object:  StoredProcedure [APP].[GetUsers]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [APP].[GetUsers] AS SELECT * FROM APP.APPUSER
GO
/****** Object:  StoredProcedure [dbo].[sp_get_ip_address]    Script Date: 6/17/2020 6:37:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_get_ip_address] (@ip varchar(40) out)
as
begin
Declare @ipLine varchar(200)
Declare @pos int
set nocount on
          set @ip = NULL
          Create table #temp (ipLine varchar(200))
          Insert #temp exec master..xp_cmdshell 'ipconfig'
          select @ipLine = ipLine
          from #temp
          where upper (ipLine) like '%IP ADDRESS%'
          if (isnull (@ipLine,'***') != '***')
          begin 
                set @pos = CharIndex (':',@ipLine,1);
                set @ip = rtrim(ltrim(substring (@ipLine , 
               @pos + 1 ,
                len (@ipLine) - @pos)))
           end 
drop table #temp
set nocount off
end 
GO
USE [master]
GO
