<!-- <ul>
    <li><a [routerLink]="['/']" class="logo">HPE Document Portal</a></li>
    <li><a [routerLink]="['/documents-list']" class="button fancy-button"><i class="material-icons">search</i></a>
    </li>
    <li>empty</li>
    <li>empty</li>
</ul> -->


<!-- these link to the bookmarks and browse pages -->
    <a [routerLink]="['Bookmark']" [routerLinkActive]="['is-active']"class="tabs">Bookmarks</a>
    <a [routerLink]="['/Documents']" class="tabs">Browse</a>


    
    <!-- <nb-action class="tabs" link="bookmarks">Bookmarks</nb-action>
    <nb-action class="tabs" link="/documents-list">Browse</nb-action>
    <nb-action icon="settings-outline"> </nb-action> -->
    <!-- <button (click)="login()" *ngIf="!isAuthenticated">Log In</button>
    <button (click)="logout()" *ngIf="isAuthenticated">Log Out</button> -->
    <!-- <button class="card-button" *ngFor=" let i = index" [ngClass]="[i == 0 ? 'button-active' : 'button-standard']" name="button">{{env.name}}</button>
    <nb-action icon="log-out" link="/"> </nb-action> -->



