.icon-size{
    height: 30px;
    width: 30px;
}
.page-title{
    color: black;
    font-family: 'HPE-Light' !important;
}
h3{
    font-family: 'HPE-Semibold' !important;
  }
.doc-divider{
    width: 20%;
    text-align: left;
    margin: 0px;
    
}