<mat-card>
  <mat-card-content>
    <h2 class="page-title">Document Details</h2>
    <hr class="doc-divider" >
  </mat-card-content>

  <mat-card>

    <mat-card-content>
        <div  *ngFor="let d of document; let i=index;">
            <h3 >{{ d.TITLE }}</h3>
            <!-- <h4>{{ document.price | currency }}</h4> -->
            <p>{{ d.SUMMARY }}</p>
            <div (click)="addBookmark(d.DOCUMENTID, '12345678', 'NULL')" >bookmark</div>
            <!-- <nb-icon  icon="download-outline" class="icon-size"> </nb-icon>
            <nb-icon  icon="expand-outline" class="icon-size"> </nb-icon> -->
          </div>
    </mat-card-content>
  </mat-card>

</mat-card>







