<!-- <app-topbar></app-topbar> -->



<div class="title">
  HPE Docs
</div>
<!-- this shows the framework for the top bar -->
<div class="tabs">
  <nav mat-tab-nav-bar mat-align-tabs="start">
      <a mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
     {{link.label}}
   </a>
  </nav>
</div>
<!-- this section is the router outlet, it shows whichever component is selected by the user through navigating the app -->
<div class="content">
    <router-outlet></router-outlet>
</div>
  
