.folders{
    // display: block;
    width: 95%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.66);
    color: #01A982;
    font-family: 'HPE-Light';
    font-size: 28px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
  }
  mat-panel-title{
    font-size: large;
    color: black;
  }
  .removeFolder{
    display: inline-block;
  }
  .folder{
    white-space: normal;
    display: inline-block;
    height: 80px;
    width: 100px;
    background-color: #425563;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-family: "HPE-Light";
    overflow-y: hidden;
  }
  .center{
    text-align: center !important;
  }
  .editing{
    background-color: transparent;
    margin: 15px 0px;
  }
  .notEditing{
    background-color: transparent;
    margin: 10px 0px;
  }
  
 .noBadge{
   display: none;
 }
 .badge{
  position:absolute;
  top: -6px;
  left: 6px;
  font-size:.7em;
  background:red;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
 }
  
  .no-spacing  {
    margin: 0px !important;
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
  

 