a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table.mat-table {
    border-spacing: 0;
    width: 100%;
}
.mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 28px 28px 28px 0;
    margin: 5px;
    
  }

  .icon_cell{
    text-align: right;
  }
  