

<mat-card>
	
	<mat-card-content>
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="    Filter">
		</mat-form-field>
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			<!--- Note that these columns can be defined in any order.
									The actual rendered columns are set as a property on the row definition" -->

			<!-- Name Column -->
			
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let document"> {{document.TITLE}} </td>

			</ng-container>


			<ng-container style="text-align:right !important" matColumnDef='customColumn1' >
				<th mat-header-cell *matHeaderCellDef class="icon_cell"> more</th>
				<td mat-cell *matCellDef="let document" class="icon_cell " > 
				<div>
					<!-- <i class="fa faChevronRight" onclick="navigateToOtherComponent(document)"></i> -->
					<fa-icon [icon]="faChevronRight" [routerLink]="['/DOC_DATA', document.DOCUMENTID]"></fa-icon>
				  </div>
				</td>
					
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

	</mat-card-content>


</mat-card>






































<!-- <mat-grid-list cols="3" rowHeight="7:1"  >
		<mat-grid-tile  *ngFor="let document of documents; index as documentId">
			<h3>
				<a [title]="document.name + ' details'" [routerLink]="['/documents', documentId]">
					{{ document.name }}
					<i class="material-icons">
						arrow_forward_ios
					</i>
				</a>
			</h3>


		</mat-grid-tile>

	</mat-grid-list> -->


<!-- <mat-nav-list>
	<mat-list-item *ngFor="let document of documents; index as documentId">
		<h3>
			<a [title]="document.name + ' details'" [routerLink]="['/documents', documentId]">
				{{ document.name }}
				<i class="material-icons">
					arrow_forward_ios
				</i>
			</a>
		</h3>
	</mat-list-item>

</mat-nav-list> -->


<!-- <p *ngIf="document.description">
								Description: {{ document.description }}
							</p> -->

<!-- <button (click)="share()">
							Share
						  </button>
						
						  <button mat-button>Click me!</button> -->

<!-- <mat-nav-list>
		<mat-list-item *ngFor="let document of documents; index as documentId">
				<a [title]="document.name + ' details'" [routerLink]="['/documents', documentId]">
					{{ document.name }}
				</a>
				<button mat-icon-button (click)="showInfo(link)">
				   <mat-icon>info</mat-icon>
				</button>
			 </mat-list-item>
</mat-nav-list> -->