<!-- BOOOKMARKS PANEL -->
<!-- (opened)="panelOpenState = true"
(closed)="panelOpenState = true" -->
<mat-expansion-panel class="no-spacing" [expanded]="true"  [hideToggle]="true" [disabled]="true" >
<mat-expansion-panel-header style="color:black; font-size: large;" >Bookmarks</mat-expansion-panel-header >

<mat-accordion>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

			<!--- Note that these columns can be defined in any order.
									The actual rendered columns are set as a property on the row definition" -->

			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let document"> {{document.TITLE}} </td>

			</ng-container>


			<ng-container style="text-align:right !important" matColumnDef='customColumn1' >
				<th mat-header-cell *matHeaderCellDef class="icon_cell"> View</th>
				<td mat-cell *matCellDef="let document" class="icon_cell " > 
				<div>
					
					<!-- <i class="fa faChevronRight" onclick="navigateToOtherComponent(document)"></i> -->
					<fa-icon [icon]="faChevronRight" [routerLink]="['/DOC_DATA', document.DOCUMENTID]"></fa-icon>
				  </div>
				</td>
					
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

  <!-- <ul class="bookmarks">
    <li *ngFor="let b of bookmarks; let i=index;" id={{b.TITLE}}>
     <h2>{{b.TITLE}}</h2>
     <button (click)=deleteBookmark(b.DOCUMENTID)>Remove</button>
    </li>
  </ul> -->
  <!-- START PRODUCT PANEL -->
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ProLiant DL380 Gen 10
      </mat-panel-title>
      <mat-panel-description> -->
        <!-- description if wanted -->
      <!-- </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider> -->
    <!-- this searches through the array created from the bookmarks service @src\app\bookmarks\bookmarks.service.ts and document information comes from the documents.ts file @ src\app\documents.ts -->
    <!-- <div class="document-bookmark" *ngFor="let document of items">
      <div class="other" *ngIf=" document.product == 'ProLiant DL380 Gen 10'">
        <div class="bookmarks-card">
          <div class="document-bookmark">
            {{document.name}}
            <p> </p>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </mat-expansion-panel> -->
  <!-- END PRODUCT PANEL -->

  <!-- START PRODUCT PANEL -->
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ProLiant MicroServer Gen10 Models
      </mat-panel-title>
      <mat-panel-description> -->
        <!-- description if wanted just extra info for user  -->
      <!-- </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <div class="document-bookmark" *ngFor="let document of items">
      <div class="other" *ngIf=" document.product == 'ProLiant MicroServer Gen10 Models'">
        <div class="bookmarks-card">
          <div class="document-bookmark">
            {{document.name}}
            <p> </p>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel> -->
  <!-- END PRODUCT PANEL -->
</mat-accordion>
<!-- END PRODUCT ACCORDION -->

</mat-expansion-panel>
<!-- END BOOKMARKS PANEL -->