<!-- ================================================================================================================================================================================================ -->
<!-- |||||||||||||||||||||||||||||||| search and filter funcitons |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!-- ================================================================================================================================================================================================= -->
<!-- Comments:  
      1. just a placeholder
     -->

<app-search class="search-comp"></app-search>
<!-- ================================================================================================================================================================================================= -->
<!-- |||||||||||||||||||||||||||||||| Recents goes here |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!-- ================================================================================================================================================================================================= -->
<!-- Comments:  
      1. need to implement recents 
      2. should edit the CSS of the tiles
     -->
<app-recents class="recents-comp"></app-recents>
<!-- ======================================================================================================================================================================================================== -->
<!-- |||||||||||||||||||||||||||||||| this is the folders and bookmarks accordion ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
<!-- ======================================================================================================================================================================================================== -->
<!-- Comments:  
      1. Get Tooltips to work
      2. add edit functionality
      3. fix duplicate names bug
      4. replace the word animal with something else haha its just from the demo
     -->
<div class="bottom-half">
<mat-accordion [multi]="true"class="accordion">
  
<app-folder-accordion class="folder-accordion-comp"></app-folder-accordion>
<app-bmk-accordion class="bmk-accordion-comp"></app-bmk-accordion>
  
</mat-accordion>
<!-- END FOLDERS & BOOKMARKS ACCORDION -->
</div>