

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


//top right bottom left

//IDK how to use the main styles page so I re reated the font family ugh
@font-face {
  font-family: HPE-Light;
  src: url(../../assets/fonts/MetricHPE-Web-Light.woff) format("woff"),
  url(../../assets/fonts/MetricHPE-Web-Light.eot) format("eot"),
}
.recents-title{
  color: white;
  font-family: 'HPE-Light';
  font-size: 36px;
}
.bottom-half{
  height: 100%;
  background-color: white;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.accordion{
  color: white;
  height: 100%;
}

